%footer
  .container
    .row
      .col-md-4
        %span.copyright Copyright © Your Website 2014
      .col-md-4
        %ul.list-inline.social-buttons
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "mailto:自分のメールアドレス?subject=お問い合わせ"}
              %i.fa.fa-envelope
      .col-md-4
        %ul.list-inline.quicklinks
          %li.text-white
            %a{:href => "#"} Privacy Policy
          %li.text-white
            %a{:href => "#"} Terms of Use
