<script type="text/javascript">
	$(function() {
		$(".navbar").removeClass("navbar-devise");
		$(".navbar").addClass("navbar-default");
	});
</script>

<div class="jumbotron">
	<%= render 'partials/navbar' %>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h1 class="display-3">Hello, world!</h1>
			</div>
		</div>
	</div>
</div>

<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
