:javascript
  $(function() {
  	$(".navbar").removeClass("navbar-devise");
  	$(".navbar").addClass("navbar-default");
  });
.jumbotron
  = render 'partials/navbar'
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1.display-3 Hello, world!
%h1 StaticPages#index
%p Find me in app/views/static_pages/index.html.erb
