<%= render 'partials/navbar' %>
<div class="container">
	<div class="col-md-3">
		<%= render 'partials/verticalnavbar'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span class="title-size-normal">基本データの編集</span>
				</div>
			</div>
		<div class="panel-body">
			<%= render 'listings/basic_form' %>
		</div>
	</div>
</div>
