= render 'partials/navbar'
.container
  .col-md-3
    = render 'partials/verticalnavbar'
  .col-md-9
    .panel.panel-default
      .panel-heading
        .text-center
          %span.title-size-normal 基本データの編集
      .panel-body
        = render 'listings/basic_form'
