= render 'partials/navbar'
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .text-center
            %span.title-size-normal 宿泊先情報 登録
        .panel-body
          = render 'listings/basic_form'