<%= render 'partials/navbar' %>

<!-- authentication check mark -->
<script type="text/javascript">
	$(function() {
		<% if !@user.email.blank? %>
			$("#ver-email").attr('class', 'vertification-checked');
		<% end %>

		<% if !@user.phone_number.blank? %>
			$("#ver-tel").attr('class', 'vertification-checked');
		<% end %>

		<% if @user.provider == "facebook" %>
			$("#ver-facebook").attr('class', 'vertification-checked');
		<% end %>
	});
</script>

<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4">
			<div class="user-profile row-space-4 text-center">
				<%= image_tag @user.image, class: "profile-full img-circle" if @user.image %>
			</div>
			<div class="panel panel-default verifications hidden-xs hidden-sm">
				<div class="panel-heading">
					認証済みID
				</div>
				<div class="panel-body">
					<div id="ver-email">
						メールアドレス
					</div>
					<br>
					<div id="ver-tel">
						電話番号
					</div>
					<br>
					<div id="ver-facebook">
						Facebook
					</div>
				</div>
			</div>
      		<%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-success btn-full" %>
		</div>
		<div class="col-lg-9 col-md-8 col-sm-12">
			<h1>自己紹介</h1>
			<%= @user.description %>
		</div>
	</div>
</div>
