= render 'partials/navbar'
.container
  .row
    .col-md-3.row-space-4
      = link_to "プロフィールに戻る", user_path(current_user), class: "btn btn-success btn-full"
    .col-md-9
      .panel.panel-defaule
        %h2.panel-heading 口座情報登録
        .panel-body
          - if @user.connected?
            = render 'stripe/connected'
          - else
            = render 'stripe/not_yet_connected'
