@import "bootstrap-sprockets";
@import "bootstrap";

/* static_pages */
.jumbotron {
	padding-top: 0px;
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), image-url("view.jpg");
	background-size: cover;
	background-position: 50% 50%;
	height: 420px;
}

.jumbotron .container .row{
	margin-top: 100px;
	color: #fff;
}

.navbar-default {
	background: transparent;
	border-color: transparent;
	z-index: 10;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 13px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/* navbar-devise (sign up) */
.navbar-devise {
	background: #fff;
	border-color: #fff;
	z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
	color: #222222;
	font-size: 13px;
}

.navbar-devise .navbar-brand {
	color: #222222;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #555;
}

body {
	color: #222;
	background-color: #F8F8F8;
}
